<footer>
    <div class="container">
        <div class="row-fluid">

            <div class="span4">
                <h2>
                    سایت رسمی ما
                </h2>
                <p>تهران - شریعتی</p>
                <p>نام شهر, D04 89GR.</p>
                <p>تلفن رایگان:    +123 456 7890</p>
                <p>موبایل:    +1 123 456 7890</p>
                <p>فکس:                +1 123 456 7890</p>
                <p>ایمیل:<a href="#">info@barnamenevisan.academy</a></p>

                <ul class="social">
                    <li><a href="#"><img src="/img/social/facebook_footer.png" alt="icon-facebook"></a></li>
                    <li><a href="#"><img src="/img/social/twitter_footer.png" alt="icon-twitter"></a></li>
                    <li><a href="#"><img src="/img/social/rss_footer.png" alt="icon-rss"></a></li>
                    <li><a href="#"><img src="/img/social/mail_footer.png" alt="icon-mail"></a></li>
                </ul>

            </div>

            <div class="span4">
                <h2>
                    ساعات کار
                </h2>
                <ul class="working_hours">
                    <li>شنبه <span>10:30am - 11:30pm</span></li>
                    <li>یکشنبه  <span>10:30am - 11:30pm</span></li>
                    <li>دوشنبه <span>10:30am - 11:30pm</span></li>
                    <li>سه شنبه <span>10:30am - 11:30pm</span></li>
                    <li>چهرشنبه <span>10:30am - 11:30pm</span></li>
                    <li>پنج شنبه <span>10:30am - 11:30pm</span></li>
                    <li>جمعه<span>10:30am - 11:30pm</span></li>
                </ul>
            </div>

            <div class="span4">
                <h2>
                    آخرین اخبار
                </h2>
                <div class="lastes">

                    <div class="row-fluid">

                        <div class="span4">
                            <img src="/img/slide_01.jpg" alt="">
                        </div>
                        <div class="span8">
                            <span>Mar 13, 2013</span>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span4">
                            <img src="/img/slide_02.jpg" alt="">
                        </div>
                        <div class="span8">
                            <span>Mar 13, 2013</span>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>

@code {

}
