@using System.Text.Json
@using RestaurantProject.JsonModels
@inject HttpClient _client;
<nav>
    <div class="container">
        <div class="row-fluid">
            <ul id="menu" class="sf-menu">
                <li>
                    <a href="index.html">صفحه اصلی</a>
                    <ul>
                        <li><a href="index.html">صفحه اصلی گزینه 1</a></li>
                        <li><a href="index_two.html">صفحه اصلی گزینه 2</a></li>
                        <li><a href="index_one.html">صفحه اصلی گزینه 3</a></li>
                        <li>
                            <a href="#">
                                سطح سوم
                            </a>
                            <ul>
                                <li><a href="#">عنوان 1</a></li>
                                <li><a href="#">عنوان 2</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="index.html">شهرهای پر بازدید</a>
                    <ul>
                        @if (cities is not null )
                        {
                            @foreach (var city in cities)
                            {
                                <li><a href="index.html">@city.name</a></li>
                            }

                        }
                    </ul>
                </li>

                <li><a href="gallery.html">گالری</a></li>
                <li><a href="#">رویدادها</a></li>
                <li><a href="contact.html">تماس با ما</a></li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private List<city> cities { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var res = await _client.GetAsync("http://localhost:5000/api/TouristAreas/Cities");
        if (res.IsSuccessStatusCode)
        {
            var json = await res.Content.ReadAsStringAsync();
            cities = JsonSerializer.Deserialize<List<city>>(json);
        }
        await base.OnInitializedAsync();
    }

}
