@layout AdminLayout
@page "/admin-add-city"

<div>
    <AddCity />
    <Counter />
</div>



کامپوننت هایی که قراره از ویدادی رخ بدهد و از سرور چیزی صدا زده بشود
باید RenderMode InteractiveServer
و کامپوننت هایی که میخواهیم  به صورت CSR فراخوانی شوند 
و از سرور چیزی  صدا زده نمی شود 
باید RenderMode InteractiveAuto || InteractiveWebAssembly

لذا در یک صفحه اگر حالت های مختتلفی از نوع رندر کردن داریم باید در کامپوننت هایی با نوع متفاوت رندر ساخته شوند

رویداد های مثلا Onclick  Onchange And ...
باید کامپوننتشان به صورت InteractiveServer
ساخته شود که درپروژه SSR قرار میگیرند

و تمام قسمت هایی که میخواهیم در کلاینت هندل شود  در قسمت client  
می سازیم

